<?xml version='1.0' encoding='utf-8'?>
<widget id="de.urlaubskasse" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>UrlaubskassenApp</name>
    <description>
        Urlaubskassen machen das Leben einfacher
    </description>
    <author email="michael-otto@gmx.at" href="http://www.molution.de">
        Michael Otto
    </author>
        <content src="index.html" />
		<preference name="fullscreen" value="true" />
		<icon src="res/icon.png" />
		<access origin="*" />
		     <platform name="android">
				<preference name="SplashScreen" value="screen" />
				<preference name="SplashScreenDelay" value="5000" />
			</platform>

    </widget>
